.about-page-container{
    display: flex;
}

.right-side{
    width: 50%;
    height: 90vh;
    background-position: center;
    background-size: cover;
}

.left-side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side p{
    padding: 20px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    font-size: 17px;
}
@font-face {
    font-family: 'Promt', sans-serif;
    src: url('../../public/Prompt-Bold.ttf');
}
@media screen and (max-width: 1230px) {
    .about-page-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-side{
        width: 80%;
    }
    .left-side{
        text-align: center;
        width: 97%;
        font-size: 15px;
    }
    .left-side p{
        font-size: 12px;
    }
}
