.menu-card{
    width: 400px;
    height: 500px;
    
}
.menu-photo{
    height: 50%;
    background-position: center;
    background-size: cover;
}
.div-card-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.menu-title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}